#logo-doctor {
  width: 170px;
  margin-bottom: 7px;
}

#collapseOne, #collapseTwo, #collapseThree {
  z-index: 9999;
}

.rounded {
  z-index: 9999;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.sections {
  /* border: 1px solid red; */
}

#wrapper {
  /* border: 1px solid transparent;  */
}

#accordionSidebar {
  margin-bottom: 1px;
}

.dashboard-modal .modal-dialog {
  width: 100% !important;
}

/* Estilo para el contenedor del loader */
#loader {
  position: fixed; /* Posición fija para que se mantenga en la pantalla */
  top: 50%; /* Posiciona el contenedor del loader en el centro verticalmente */
  left: 50%; /* Posiciona el contenedor del loader en el centro horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el contenedor para que esté centrado */
  display: none; /* Oculta el loader por defecto */
  z-index: 9999; /* Asegúrate de que el loader esté encima de otros elementos */
}

/* Estilo para el spinner del loader */
#loader .spinner {
  border: 5px solid rgba(0, 0, 0, 0.1); /* Color del borde */
  border-radius: 50%; /* Hace el borde circular */
  border-top: 5px solid #3498db; /* Color de la parte superior */
  width: 50px; /* Tamaño del loader */
  height: 50px; /* Tamaño del loader */
  animation: spin 1s linear infinite; /* Animación del loader */
}

/* Animación para girar el spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* Estilo para el mensaje de error */
.error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
  z-index: 9999;
}

.error-message.show {
  display: block;
}